body {
  font-family: "courier new";
}

/* There could be many of these. */
.keyword {
  font-weight: bold;
}

ul#autocomplete {
  position: absolute;
  border: 1px solid gray;
  margin-left: 0px;
  padding-left: 5px;
  width: 200px;
  overflow: auto;
  list-style-type: none;
}

#calltips {
  position: absolute;
  border: 1px solid gray;
}

#hoverover {
  position: absolute;
  border: 1px solid gray;
}

#typeannotations {
  position: absolute;
  border: 1px solid gray;
}